{% include "header.html" %}
<!-- <div class="wrapper"> -->

<div class="page-header header-filter" style="background-image: url(./static/img/hero2.PNG);">
			<div class="container">
					<div class="row">
							<div class="col-md-8 ml-auto mr-auto text-center">
									<h1 class="title"> Vizzard </h1>
									<h4>
										Data-centered visualization resources.
										Visualize your data in an appropriate and reproducible way.
									</h4>
							</div>
					</div>
			</div>
	</div>


	{% include "footer.html" %}
<!-- </div> -->
